*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.container{
    width:1320px;
    margin-right: auto;
    margin-left: auto;
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    height: 100%;
}
.nav1{
    font-family: "Poppins", sans-serif;
}

#logo{
    color :black;
    font-size: 28px;
    font-weight: 600;
    font-family: "Lora", serif;
}

a{
    text-decoration: none; 
}

header{
    height:60px;
    border-bottom: 1px solid rgb(222, 226, 230);
}
ul{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    gap:20px;
    list-style-type:none;
}

ul li a{ 
    color:grey;
    font-size: 16px;
}
.classimg{
    width:50%;
    border-radius: 7px;
}
section{
    margin-top:48px;
   
}
#section1para{
   color:rgb(108, 117, 125);
   margin-bottom: 20px;
}

h1{
    font-size:40px;
    font-weight:600;
    margin-bottom:24px;
    line-height: 48px;
    font-family: "Lora", serif;

}
p{
    font-size:16px;
    font-weight: 400;
    margin-bottom:16px;
    line-height:24px;
    font-family: "Poppins", sans-serif;

}
.buttons{
    margin-top:24px;
}
#section1div1{
    gap: 24px;
    margin-right:30px;
}
 
.book{
    color:white;
    padding:6px 12px;
    display: inline-block;
    background-color:rgb(51, 51, 53);
    border-radius:8px;
    font-family: "Poppins", sans-serif;
}
#contact{
    color:black;
    padding:6px 12px;
    border:1px solid black;
    border-radius:8px;
    display: inline-block;
    font-family: "Poppins", sans-serif;

}
#section2{
    background-color:rgb(233, 236, 239);
    padding-top: 48px;
    padding-bottom: 48px;
    height:550px
}
.icon{
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    border-radius:6px;
    padding: 24px;
    background-color: white;

}
#section2 img{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 15%;
    
}
#section2 h3{
    margin-top:35px;
    margin-bottom: 8px;
}

#section2 p{
    color:rgb(108, 117, 125);
    margin-bottom: 40px;

}
h2{
    margin-bottom: 8px;
    font-size:32px;
    font-weight: 500;
    font-family: "Lora", serif;
}
h5{
    font-size:20px;
    font-weight: 500;
    font-family: "Lora", serif;
    margin-bottom:10px
}


#section3 img{
    width:314px;
    box-sizing: border-box;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#section3{
    
    padding-bottom:48px;
    padding-left:12px;
    padding-right:12px;
}
.lastli{
    margin-top:24px;
    border:1px solid rgb(214, 209, 209);
    border-radius:8px;
}
.div3{
    padding:16px;
}
#section3 p{
    color:black;
}
